@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    text-decoration: none;
    font-family: "Montserrat Alternates", sans-serif;
}


body{
    background-color: #DFECDF;
}

h1{
    color: #3D4A3D;
    
}
.sidebar{
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    height: calc(100vh - 32px);
    background-color: #fff;
    
}


.sidebar-header{
    display: flex;
    align-items: center;
    padding: 25px 20px;
    justify-content:space-between;
}

.sidebar-header  .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggler{
height: 25px;
width:25px;
border: none;
color: #ffffff;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
border-radius: 8px;
background-color: #3D4A3D;
transition: 0.4 ease;
}

.sidebar-header .toggler:hover{
    background-color: #103110;
}


.sidebar-header .toggler span{
    font-size: 1.75rem;

}


.sidebar-nav .nav-premiere {
    list-style: none;
}

.sidebar-nav .nav-deuxieme {
    list-style: none;
}

.sidebar-nav .nav-link{
    color: #3D4A3D;
    padding: 12px 15px;
    gap: 12px;
    display: fle;
    align-items: center;
    text-decoration: none;
}